<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
     <style>
        #map { height: 100vh; }
        .container {
            width: fit-content;
        }
     </style>
    </head>

    <body>
        <div id="map"></div>
            <script type="text/javascript">
            var imgs = JSON.parse('<%- JSON.stringify(images) %>')

            var map = L.map('map').setView([36.8137, 10.063949], 13)
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            
            
            var popup = L.popup();

            function onMapClick(e) {
                popup
                    .setLatLng(e.latlng)
                    .setContent("You clicked the map at " + e.latlng.toString())
                    .openOn(map);
            }

            map.on('click', onMapClick);

            var ensi_marker = L.marker([36.8137, 10.063949]).addTo(map);
            ensi_marker.bindPopup("<b>ENSI</b><br>")

            // var geoJsonLayer = L.geoJSON().addTo(map);

            for(let i = 0; i < imgs.length; i++) {
                // geoJsonLayer.addData('{ type: "Point", coordinates: [ 36, 10 ] }')
                let lng = imgs[i].location.coordinates[0][0][0];
                let lat = imgs[i].location.coordinates[0][0][1];
                let name = imgs[i].name;
                let desc = imgs[i].desc;
                let img_marker = L.marker([lng, lat]).addTo(map);
                img_marker.bindPopup("<h1>"+name+"</h1><p>"+desc+"</p><img width=\"300px\" src='/pothole_picture/"+imgs[i]._id+"'></img></div>")
            }

         </script>
    </body>
</html>